# 1. نادیده گرفتن محیط مجازی (خیلی مهم)
# چون حجمش زیاده و هرکس باید محیط مجازی خودش رو بسازه
venv/
env/
.env_folder/

# 2. نادیده گرفتن فایل‌های کامپایل شده پایتون (اتوماتیک ساخته میشن)
__pycache__/
*.py[cod]
*$py.class

# 3. فایل‌های دیتابیس محلی (معمولاً نباید کامیت بشن)
db.sqlite3

# 4. فایل‌های امنیتی و تنظیمات محلی (حیاتی!)
.env
local_settings.py

# 5. فایل‌های استاتیک و مدیای آپلود شده (اگر روی سرور جدا باشند)
media/
staticfiles/

# 6. فایل‌های مربوط به IDEها (تنظیمات شخصی ادیتور شما)
.vscode/
.idea/


# 7. Tailwin
node_modules/
package.json
package-lock.json


# 8. Other
todo.txt