{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'includes/filters/filter_box_mobile.html' %}
  <section class="flex items-start content-start">
    <div class="hidden w-[400px] lg:block">
      {% include 'includes/filters/filter_box.html' %}
    </div>
    <div class="p-10 w-full" id="product_list">
      {% include 'shop/_product_list.html' %}
    </div>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static 'javascript/product_list.js' %}"></script>
{% endblock %}
