{% comment %} <section class="relative ml-5" style="width: 500px;"> {% endcomment %}
<form method="get" action="{% url 'product_list_page' %}" class="relative max-w-130 w-95/100 lg:w-130 lg:mt-3 flex">
  <input type="search" name="q" class="w-full px-3 py-4 text-lg ml-1 sm:px-7 sm:text-xl
   bg-gray-200 rounded-xl text-gray-900 outline-0" id="header_search_box_text_{{ search_type }}" placeholder="جستجو ..." />
  <button type="submit" class="search_btn pointer-events-none opacity-0" id="header_btn_search_{{ search_type }}">
    <i class="fa-solid fa-magnifying-glass relative"></i>
  </button>
</form>