{% extends 'base.html' %}

{% block content %}
  <section class="mt-20 mr-[5vw]">
    <section class="justify-between lg:flex">
      <section class="mb-20 ml-5">
        <h2 class="text-5xl font-black mr-1 text-cyan-200 sm:text-6xl mb-10">نشانی</h2>
        <p class="text-xl">
          <i class="fa-solid fa-location-dot ml-1 text-cyan-400"></i>
          آدرس: 
          لرستان − کوهدشت − شهرک باهنر، پارک شهید بهشتی، خیابان زاگرس، پلاک ۹۲
        </p>
      </section>
      <section class="rounded-lg overflow-hidden shadow-lg w-7/9 lg:w-1/2 aspect-square max-w-150 mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3325.7424517123736!2d47.590138025495996!3d33.53408119017684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzPCsDMyJzAzLjYiTiA0N8KwMzUnMjYuMCJF!5e0!3m2!1sen!2sde!4v1767038802535!5m2!1sen!2sde" class="w-full h-full" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </section>
    </section>
  </section>
{% endblock %}
