{% comment %} <section class="relative ml-5" style="width: 500px;"> {% endcomment %}
<section class="relative max-w-130 w-95/100 lg:w-130 lg:mt-3">
  <input type="text" class="w-full pr-3 pl-17 py-4 text-lg mt-2 ml-5 sm:pr-7 sm:text-xl
   bg-gray-200 rounded-xl text-gray-900 outline-0" id="header_serch_box_text_{{ serch_type }}" placeholder="جستجو ..." />
  <i class="fa-regular fa-circle-xmark absolute left-3 top-6 text-3xl text-gray-900 cursor-pointer !hidden" id="header_clear_serch_{{ serch_type }}"></i>
</section>